In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.shape

(545, 13)

In [4]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [5]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [6]:
cat_cols = [i for i in df.columns if df[i].dtypes=='object']
cat_cols

['mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'prefarea',
 'furnishingstatus']

In [7]:
df['mainroad'].value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [8]:
df['guestroom'].value_counts()

no     448
yes     97
Name: guestroom, dtype: int64

In [9]:
df['basement'].value_counts()

no     354
yes    191
Name: basement, dtype: int64

In [10]:
df['hotwaterheating'].value_counts()

no     520
yes     25
Name: hotwaterheating, dtype: int64

In [11]:
df['airconditioning'].value_counts()

no     373
yes    172
Name: airconditioning, dtype: int64

In [12]:
df['prefarea'].value_counts()

no     417
yes    128
Name: prefarea, dtype: int64

In [13]:
df['furnishingstatus'].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb = LabelEncoder()
for i in cat_cols:
    df[i] = lb.fit_transform(df[i])

# df['mainrod'] = lb.fit_transform(df['mainroad'])
# df['guestroom'] = lb.fit_transform(df['guestroom'])
# df['basement'] = lb.fit_transform(df['basement'])

In [16]:
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int32
guestroom           int32
basement            int32
hotwaterheating     int32
airconditioning     int32
parking             int64
prefarea            int32
furnishingstatus    int32
dtype: object

In [17]:
x = df.drop('price',axis=1)
y = df['price']
print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [18]:
print(x.shape)
print(y.shape)

(545, 12)
(545,)

In [19]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(408, 12)
(137, 12)
(408,)
(137,)

#### Linear Regression

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [32]:
# r2 score
print('Training score',m1.score(x_train,y_train))
print('Testing score',m1.score(x_test,y_test))

Training score 0.6708586142312731
Testing score 0.6884389003472161

In [36]:
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[ 5343384.09055772  5546964.32018476  3873761.2734722   3714680.29939052
  4639585.44629983  5689516.20701994  5026861.68091572  6131738.55852094
  6918473.53162878  6064491.77606318  4364199.72732429  7753351.62160481
  7529181.52124787  2835868.44942672  3712578.09200169  2699189.36107482
  4439417.46829576  5840998.32865744  4369890.98349703  3324565.21701717
  4856410.75562165  5573337.55435571  5987209.27904123  6482488.18690401
  4597419.28631483  3861475.48212697  5135756.8701228   6294389.71968409
  7636194.12033353  3064024.11062294  6321816.90854159  2783638.74962007
  5259770.64516912  8016403.67749281  2105272.39568343  3917605.77095812
  4533575.37689701  5985691.68123432  6722531.56072362  5940536.11991688
  6486471.03317409  4083175.50784517  4051319.76071714  2964729.85754775
  2285190.07541815  3299748.98532963  3677645.7659296   4800702.95213941
  2988420.78473328  4970619.69937253  4218209.20480874  6643199.93169644
  2869370.25602447  5963736.27154996  8095403.74276166  2612406.750976
  6475364.45704156  5952413.00155366  3573290.05250722  7681189.35431549
  9531420.95600297  6269871.96507502  6809388.37163003  4589588.94091986
  6584929.44449878  4300296.08779832  4371218.76723354  3336973.33286095
  6757895.44317093  3606303.64747843  2752005.19995037  4503743.14537724
  4466612.11952318  2979612.77914409  3963343.16781732  6191999.66699686
  4788011.8659203   4055782.76217579  6002807.23058834  4887498.90512685
  4728693.33263315  4072648.76457838  2733129.87479455  3518057.62337244
  4768833.25329495  4917339.24107088  3276054.48993627  7225194.28214627
  2547884.54858838  2787167.90827541  3931444.40627624  3169836.47351419
  5762746.34837415  3165815.53502448  6245351.69978814  3522111.35021455
  3020823.47012611  3767901.38012978  6409731.69201519  3260036.19721337
  6524996.92041666  5869420.44861837  3658040.836716    6203625.36949844
  6157469.69102893 10306018.91576238  4592740.03342669  4731311.32416478
  4937603.29539606  3389534.43093701  3925746.33268731  3952312.03142877
  6125277.19695681  2876269.31271944  4215168.25777995  3022928.92672329
  4197119.669532    4439417.46829576  6904426.77193367  5607983.44218495
  4026193.09822113  2610843.57626715  5049685.61260656  3785211.63597393
  4615860.87559422  4101496.2654916   3740426.80567354  3339380.7552221
  3586493.99388124  6342665.03497468  4518969.63133385  2768055.59581133
  6956583.02824012  3291355.53092129  3044514.39731164  3936549.23681276
  8023222.26364564]

In [34]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [37]:
print('MSE',mean_squared_error(y_test,ypred_m1))
print('RMSE',np.sqrt(mean_squared_error(y_test,ypred_m1)))
print('MAE',mean_absolute_error(y_test,ypred_m1))
print('r2_Score',r2_score(y_test,ypred_m1))

MSE 1300494868169.0525
RMSE 1140392.4184985852
MAE 797776.2211151692
r2_Score 0.6884389003472161